@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
html,
body {
  background-color: #1f2022;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  max-width: 100%;
  overflow-x: hidden;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 10px 5px 5px  #696961;
    -webkit-text-stroke: 2px rgba(219, 150, 23, 0.779);
  color: transparent;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

#megacontainer{
    background-color: #9a3434;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
  background-color: #9a3434;
}

.box {
  position: relative;
  min-width: 15%;
  max-width: 20%;
  width: 25%;
  height: 75%;
  margin-left: 20px;
  overflow: hidden;
  box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.5);
  transform: skew(0deg, -10deg) rotate(10deg);
  transition: 0.3s ease;
  cursor: pointer;
}
.box:first-of-type {
  margin-left: 0;
}
.box:hover {
  transform: skew(0deg, -10deg) rotate(10deg) scale(1.1);
  z-index: 999;
}
.box__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skew(0deg, 10deg) rotate(-10deg) scale(1.05, 1);
}
.box__background img {
  height: 100%;
}
.box__inner {
  position: relative;
  left: -25%;
  z-index: 999;
  display: flex;
  width: 150%;
  height: 100%;
  padding-left: 45%;
  padding-right: 80px;
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
  transform: skew(0deg, 10deg) rotate(-10deg) scale(1.05, 1);
}



