<div id="megacontainer">
	<div id="title">
		<h1>SONS OF HELL</h1>
	</div>
	<div class="container">

		<div class="box">
			<div class="box__background">
				<img src="/assets/lol.jpg" alt="background">
			</div>
			<div class="box__inner">
				<h3 class="box__title">Equipos de SOH</h3>
			</div>
		</div>
		<div class="box">
			<div class="box__background">
				<img src="/assets/eventos.png" alt="background">
			</div>
			<div class="box__inner">
				<h3 class="box__title">Torneos del split</h3>
			</div>
		</div>
		<div class="box">
			<div class="box__background">
				<img src="/assets/Señoret.jpg" alt="background">
			</div>
			<div class="box__inner">
				<h3 class="box__title">Sons of Hell</h3>
			</div>
		</div>
	</div>
</div>