<table class="table table-bordered table-striped">
  <tbody>
      <tr>
          <th>Id</th>
          <td>{{oUsuario.id}}</td>
      </tr>
      <tr>
          <td>Username</td>
          <td>{{oUsuario.username}}</td>
      </tr>
      <tr>
          <td>correo</td>
          <td>{{oUsuario.correo}}</td>
      </tr>
      <tr>
          <td>nombre</td>
          <td>{{oUsuario.nombre}}</td>
      </tr>
      <tr>
          <td>cuenta</td>
          <td>{{oUsuario.cuenta}}</td>
      </tr>
      <tr>
          <td>fnac</td>
          <td>{{oUsuario.fnac}}</td>
      </tr>
      <tr>
          <td>campeon</td>
          <td>{{oUsuario.campeon}}</td>
      </tr>
      <tr>
          <td>skin</td>
          <td>{{oUsuario.skin}}</td>
      </tr>
      <tr>
        <td>Equipo</td>
        <td>{{oUsuario.equipo.id}}</td>
    </tr>
      <tr>
          <td>Tipo usuario</td>
          <td>{{oUsuario.tipousuario.id}}</td>
      </tr>
  </tbody>
</table>
